spring:
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    username: root
    password: testtest
    url: jdbc:mysql://localhost:3306/qbyx_database?autoReconnect=true&rewriteBatchedStatements=true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
        batch_versioned_data: true
    hibernate:
      ddl-auto: none
    show-sql: false
  web:
    resources:
      static-locations: classpath:/
  main:
    lazy-initialization: false
  data:
    redis:
      host: localhost
      port: 6379
      password: ''
      database: 0


  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
server:
  port: 80
avatars-path: ${AVATARS_PATH}
pinned-images-path: ${PINNED_IMAGES_PATH}
pagination:
  messages:
    page-size: 30
