<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
<div class="main-menu">
    <h3>Найдено по вашему запросу:</h3>
    <div class="found-user-info" th:data-username="${found_user.username}">
        <p th:text="${'Имя пользователя: ' + found_user.getUsername()}"></p>
    </div>
    <button onclick="addUserToMyContactList()">Добавить контакт</button>
</div>
</body>
<script src="/static/js/found-users.js"></script>
</html>