.contact-container {
    display: flex;
    background-color: black;
    color: white;
    max-width: 200px;
    width: fit-content;
    height: 40px;
    align-items:center;
    padding-right: 20px;
    padding-left: 20px;
}

.contact-container:hover {
    background-color: #0d0d0d;
    cursor: pointer;
}
.contact-container.selected {
    background-color: #00bfff;
    cursor: pointer;
}