.contact-container {
    display: flex;
    background-color: black;
    color: white;
    max-width: 200px;
    width: fit-content;
    height: 40px;
    align-items:center;
    padding-right: 20px;
    padding-left: 20px;
}

.contact-container:hover {
    background-color: #0d0d0d;
    cursor: pointer;
}
.contact-container.selected {
    background-color: #00bfff;
    cursor: pointer;
}
.disabled {
    opacity: 0;
    visibility: hidden;
    display: flex;
    transition: 0.2s ease-in-out;
}
.enabled {
    opacity: 1;
    visibility: visible;
    display: flex;
    transition: 0.2s ease-in-out;
}
.popup-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    cursor: pointer;
}
.popup-menu {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: default;
}
.delete-contact-menu {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 15px;
}
.my-profile-avatar,.contact-avatar {
    width: 50px;
    height: 50px;
}